# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
poke-weather/node_modules
poke-weather/.pnp
poke-weather/.pnp.js

# testing
poke-weather/coverage

# production
poke-weather/build

# misc
poke-weather/.DS_Store
poke-weather/.env.local
poke-weather/.env.development.local
poke-weather/.env.test.local
poke-weather/.env.production.local

poke-weather/npm-debug.log*
poke-weather/yarn-debug.log*
poke-weather/yarn-error.log*

#sanic backend
sanic-backend/venv
sanic-backend/.vscode
